*{
    overflow: hidden;

}
.nakEvent {
    border-radius: 5px;
    border: 2px solid white;
    padding: 4px 8px 4px 8px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 265px;
    margin: 0 auto;
    font-size: 24px;
    color: white;
}

.nakEvent:hover {

    background-color:#fff;
    color:#000;
}

.mainLabel {

    position: absolute;
    z-index: 30;
    top:15px;
    width: 100%;

}

.labelStyle {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: white
}

#clearMap {
    text-align: center;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 22px;
}
#menu{
    position:absolute; 
    margin-left:1rem;
    z-index:30;
    border-radius:10px;
    width:280px;
    height:50px;
    background:transparent;
}
#menu .panel{
    margin-bottom:1rem;
    width:280px;
}
#menu .tops{
    width:280px;
}
.tops{
    display:flex;
    padding:1rem;
    justify-content: space-between; 
    align-items: center;
    border-radius:12px;
    height: 100%; 
    width:280px; 
    text-align: center;
    border:inherit;
    background:linear-gradient(rgba(0,0,0.6),rgb(11, 32, 39));
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
    0 2px 2.3px rgba(54, 54, 54, 0.6),
    0 6px 5.3px rgba(63, 63, 63, 0.6),
    0 12px 10px rgba(51, 50, 50, 0.6),
    ;
    
}
#btn{
    padding:6px;
}
#contdata{
    position:absolute;
    padding:.3rem;
    z-index:20;
    margin-top:8rem;
    width:280px; 
    margin-left:1rem;
    text-align: center;
    border-radius:12px;
    border:inherit;
    background-image:linear-gradient(rgba(0,0,0,.6),rgb(11, 32, 39)),url(/resources/img/mon.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
    0 2px 2.3px rgba(54, 54, 54, 0.6),
    0 5px 3.3px rgba(63, 63, 63, 0.6),
    0 5px 5px rgba(51, 50, 50, 0.6),
    0 102px 10.9px rgba(59, 59, 59, 0.6),
    0 21px 23.4px rgba(75, 74, 74, 0.6),
    0 80px 60px rgba(66, 65, 65, 0.6)
    ;
}
#contdata h1{
    font-size: 25px; 
    font-weight: bold;
    color: white;
    text-align: center; 
    margin: 8px 0 8px 0;
}
#getData{
    margin-top: 10px; 
    border: 1px solid white; 
    background-color:black; color:white; 
    border-radius:1rem; 
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    background:#2a3d;
    border:none;
    text-align:center; 
    padding: 4px 8px 4px 8px;
}
#getData:hover{
transition: allb.5s;
border:2px solid #fff;
}
.doy h3{
    font-size: 20px; 
    color:white; 
    font-weight: bold;
}
label{
    display: inline-block;
    padding: 0 8px 0 8px; 
    background:dodgerblue;
    color: #fff;
    text-align:center;
    font-size: 25px;
    border:1px solid dodgerblue;
    border-radius: 5px; 
    padding: 0px 8px 0 8px;
}
label:hover{
    transition: all.5s;
    background:dodgerblue;
    color: #fff;

}
.doy{
    background:transparent;
    margin-top:4rem;
    
}
#nakamura{
    display:none;
    position:absolute;
    padding:.5rem;
    z-index:20;
    margin-top:2rem;
    width:280px; 
    margin-left:1rem;
    text-align: center;
    border-radius:12px;
    border:inherit;
    background:rgba(0, 0, 0, 0.6);
    backdrop-filter:blur(10);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:
    0 2px 2.3px rgba(54, 54, 54, 0.6),
    0 6px 5.3px rgba(63, 63, 63, 0.6),
    0 12px 10px rgba(51, 50, 50, 0.6),
    0 22px 17.9px rgba(59, 59, 59, 0.6),
    0 41px 33.4px rgba(75, 74, 74, 0.6),
    0 100px 80px rgba(66, 65, 65, 0.6)
    ;
}
#naklabels{
    text-align: center;
    margin-top: 10px; 
    height: 70vh;
    overflow:auto;
    scroll-behavior: smooth;
    scrollbar-width:thin;
}
#naklabels #nak{
    margin-bottom:5px;

}
#nak h3{
    font-size:15px;
    width:200px;
}
#clearMap{
    margin-top: 10px; 
    border: 1px solid white; 
    background-color:black; color:white; 
    border-radius:1rem; 
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    background:#2a3d;
    border:none;
    text-align:center; 
    padding: 4px 8px 4px 8px;
}