  @font-face {
        font-family: "Fira Code";
        src: url("./fonts/FiraCode-VariableFont_wght.ttf")
          format("truetype");
        
      }

 .nakEvent {
    border-radius: 5px;
    border: 2px solid white;
    padding: 4px 8px 4px 8px;
    width: 265px;
    background-color: #fff;
    margin: 0 auto;
    font-size: 24px;
    color: white;
} 
 .nakEvent:hover{
    color:dodgerblue;
}

.mainLabel {

    position: absolute;
    z-index: 30;
    top:15px;
    width: 100%;

}

.labelStyle {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: rgb(0 0 0.6);
}

#clearMap {
    text-align: center;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 22px;
}
#menu{
    position:absolute; 
    margin-left:1rem;
    z-index:30;
    border-radius:10px;
    width:280px;
    height:50px;
    background:transparent;
}
#menu .panel{
    margin-bottom:1rem;
    width:280px;
}
#menu .tops{
    width:280px;
}
.tops{
    display:flex;
    padding:1rem;
    font-size:15px;
    justify-content: space-between; 
    align-items: center;
    height: 100%; 
    width:320px; 
    text-align: center;
  
    
}
.tops >h2{
margin:5px;
}
#btn{
    padding:6px;
}
#contdata{
    position:absolute;
    z-index:20;
    margin-top:1rem;
    width:280px; 
    margin-left:1rem;
    text-align: center;
    border-radius:12px;
    border:inherit;
    background-image:linear-gradient(rgba(65, 100, 100, 0.6),rgb(11, 32, 39));
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#contdata h1{
    font-size: 25px; 
    font-weight: bold;
    color: white;
    text-align: center; 
    margin: 8px 0 8px 0;
}
#getData{
    margin-top: 10px; 
    border: 1px solid white; 
    border-radius:23px; 
    font-family: sans-serif;
    text-align: center;
    color:#fff;
    font-size:17px;
    background:dodgerblue;
    border:none;
    text-align:center; 
    padding:5px;
}
#getData:hover{
transition: all.5s;
border:2px solid #fff;
}
.doy h3{
    font-size: 20px; 
    color:white; 
    font-weight: bold;
}

.doy{
    background:transparent;
    margin-top:4rem;
    
}
#nakamura{
    display:none;
    position:absolute;
    overflow-x: hidden;
    padding:.5rem;
    z-index:20;
    margin-top:1rem;
    width:280px; 
    margin-left:1rem;
    text-align: center;
    border-radius:12px;
    border:inherit;
    background:rgba(0, 0, 0, 0.6);
    backdrop-filter:blur(10);
    background-position:center;
    margin:2rem 0px;
    background:rgba(0, 0, 0, 0.6); 
}
#naklabels{
    text-align: center;
    margin-top: 3rem; 
    height: 70vh;
    overflow:auto;
    scroll-behavior: smooth;
    scrollbar-width:thin;
}
#naklabels #nak{
    margin-bottom:5px;

}
#nak h3{
    font-size:15px;
    width:200px;
}
#clearMap{
    margin-top: 10px; 
    border: 1px solid white; 
    color:#fff;
    border-radius:23px; 
    font-family: sans-serif;
    font-size:15px;
    background:dodgerblue;
    border:none;
    text-align:center; 
    padding:5px
}
#clearMap:hover{
     border:1px solid #fff;
    transition: .5s all;
}
#showAll{
    margin-top: 10px; 
    border: 1px solid white; 
    color:#fff;
    border-radius:23px; 
    font-family: sans-serif;
    font-size:15px;
    background:dodgerblue;
    border:none;
    text-align:center; 
    padding:5px
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

     
  }